<div class="tag-all-page">
  <div class="tag-all-title">
    主要標籤
    <small>{{ site.tags.length }} 個主題</small>
  </div>
  <p class="tag-all-note">
    用主標籤整理跨分類的閱讀方式；每列都會顯示目前收錄的文章數量。
  </p>
  <ul class="tag-all-list" itemprop="keywords">
    {%- for tagDefinition in site.data['content-tags'] %}
      {%- set tagQuery = site.tags.find({name: tagDefinition.name}, {lean: true}) %}
      {%- if tagQuery.length %}
        {%- set tag = tagQuery[0] %}
        <li class="tag-all-item">
          <a class="tag-all-link" href="{{ url_for(tag.path) }}" rel="tag">
            <span class="tag-all-icon"><i class="{{ tagDefinition.icon }}" aria-hidden="true"></i></span>
            <span class="tag-all-copy">
              <strong>{{ tagDefinition.name }}</strong>
              <small>{{ tagDefinition.description }}</small>
            </span>
          </a>
          <span class="tag-all-count">{{ tag.length }}</span>
        </li>
      {%- endif %}
    {%- endfor %}
  </ul>
</div>
